<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>JeeSite</display-name>
	<!-- comet4j -->
	<listener>
		<listener-class>org.comet4j.core.CometAppListener</listener-class>
	</listener>
	<listener>
		<description>CometServlet自定义</description>
		<listener-class>com.thinkgem.jeesite.common.servlet.CometWebServlet</listener-class>
	</listener>
	<servlet>
		<description>客户端访问入口</description>
		<servlet-name>CometServlet</servlet-name>
		<servlet-class>org.comet4j.core.CometServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CometServlet</servlet-name>
		<url-pattern>/a/conn</url-pattern>
	</servlet-mapping>

	
</web-app>